.container {
  background: #73e09f;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  max-width: 500px;
  margin: 50px auto;
}

.formContainer {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 15px 5px;
  font-weight: bold;
  width: 200px;
}

.btn:hover {
  color: white;
}

.submitBtn {
  margin: 0 auto;
}

.profilePicture {
  border-radius: 50%;
  background: green;
  width: 100px;
  height: 100px;
  margin: 30px;
}

.postspage {
}
